.authInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
}

.authInput label {
    font-family: 'Text Me One', sans-serif;
    color: var(--new-task-input-label-color);
    text-align: left;
    margin-top: 1rem;
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 5px;
}

.inputField {
    margin-left: 3%;
    width: 85%;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 1em;
    background-color: var(--new-task-input-bg);
    box-shadow: var(--new-task-input-box-shadow);
    transition: 300ms ease-in-out;
    color: var(--new-task-input-color);
}

.inputField:focus {
    background-color: var(--new-task-input-bg-focus);
    transform: scale(1.05);
    box-shadow: var(--new-task-input-box-shadow-focus);
    color: var(--new-task-input-color);
}
