# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (all subfolders)
**/node_modules

# Build output
dist
dist-ssr

# Local environment files (all subfolders)
**/.env
*.local
localhost.pem
localhost-key.pem

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode

# Ignore logs in any subfolder
**/logs
**/*.log

# Misc
plan*.md