.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: var(--checkmark-bg-color);
    border-radius: 100%;
    background: var(--checkmark-bg);
    box-shadow: var(--checkmark-box-shadow);
    transition-duration: 0.5s;
}

.container input:checked ~ .checkmark {
    box-shadow: var(--checkmark-container-box-shadow);
}

.checkmark:after {
    content: '';
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.container input:checked ~ .checkmark:after {
    opacity: 1;
    transform: scale(1) rotate(45deg);
}

.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: var(--checkmark-container-border-after);
    border-width: 0 0.15em 0.15em 0;
    transform: scale(0.8) rotate(45deg);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
