.i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    color: #9d9d9d; /* Default icon color */
    transition: color 0.2s, filter 0.2s;
}

.i:hover,
.i:focus {
    color: #3fd0ff; /* Light blue */
    filter: drop-shadow(0 0 1px #3fd0ff);
}
