.appBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.appBody h1 {
    text-align: center;
    margin-top: 1rem;
}

.taskListWrapper {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 20px;
}

li {
    list-style: none;
}

h1 {
    font-family: 'Text Me One', sans-serif;
    color: #9d9d9d;
}
