* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --backgroundLayer-background: #e0e0e0;
    --foregroundLayer-background: linear-gradient(145deg, #f0f0f0, #cacaca);
    --foregroundLayer-box-shadow: 19px 19px 38px #bebebe,
        -19px -19px 38px #ffffff;
    --button-bg: rgb(228, 232, 236);
    --button-bg-grad: linear-gradient(
        45deg,
        rgb(228, 232, 236) 0%,
        rgb(234 234 234) 100%
    );
    --button-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
    --button-bg-active: rgb(218, 221, 224);
    --button-bg-active-grad: linear-gradient(
        45deg,
        rgb(218, 221, 224) 0%,
        rgb(241, 241, 241) 100%
    );
    --button-shadow-active: -2px -7px 10px #d4d7da, 4px 6px 10px #f1f1f1,
        inset -2px -7px 10px #f1f1f1, inset 4px 6px 10px #d4d7da;
    --button-text: #9d9d9d;
}

body.dark {
}
