form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-top: 30px;
}

.formRow {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inputField {
    flex: 1;
    min-width: 0;
    padding: 0.75rem 1.2rem;
    border-radius: 16px;
    font-size: 1rem;
    color: #222;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}

.inputField:focus {
    border: 1.5px solid #80d8ff;
}

.submitButton {
    width: 48px;
    height: 48px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.3s;
    border-radius: 50%;
    background: var(--button-bg);
    box-shadow: var(--button-shadow);
    margin-left: 10px;
    color: var(--button-text);
}

.submitButton:active {
    border-radius: 50%;
    background: var(--button-bg-active);
    box-shadow: var(--button-shadow-active);
}
