form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-top: 30px;
    color: var(--app-color);
}

.formRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inputField {
    margin-left: 3%;
    width: 85%;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 1em;
    background-color: var(--new-task-input-bg);
    box-shadow: var(--new-task-input-box-shadow);
    transition: 300ms ease-in-out;
}

.inputField:focus {
    background-color: var(--new-task-input-bg-focus);
    transform: scale(1.05);
    box-shadow: var(--new-task-input-box-shadow-focus);
}
