.taskBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.taskContent {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.taskCard {
    background: var(--taskCard-bg);
    border-radius: 20px;
    box-shadow: var(--taskCard-box-shadow);
    padding: 1.5rem;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.taskCard:hover {
    box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
    transform: translateY(-2px);
}

.taskButtons {
    opacity: 0;
    visibility: hidden;
    gap: 0.5rem;
    display: flex;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.taskButtonsRight {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.taskCard:hover .taskButtonsRight {
    opacity: 1;
    visibility: visible;
}

.editing .taskButtonsRight {
    opacity: 1;
    visibility: visible;
}

.taskButtonsRight,
.taskButtonsRight > button {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
